body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    color: #fff;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 18px;
}

a {
    text-decoration: none;
    padding: 20px;
}

.nav 
.header{
font-size: 24px;
color: #f9faf8;
font-weight: bold;
}

.hero-section {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

a,
.hero-sub {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 18px;
}

.hero-section
img {
    height:400px;
    width: auto;
    align-self: flex-end;
}

.hero-section
button {
    width: fit-content;
    height: fit-content;
    padding: 8px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #3882f6;
}

.random-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin: 48px;
    padding: 20px;
}

.random-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.random-box 
img {
    width: 140px;
    height: 140px;
    border: solid blue 2px;
    border-radius: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    flex-wrap: wrap;
}

.quote-section{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 200px 0;
    padding: 200px 610px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.attribution {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}