body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 1120px;
    min-height: 100vh;
}

.main-header {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #1F2937;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 1400px;
    min-width: 700px;
    min-height: 30px;
}

.nav
a {
    text-decoration: none;
    padding: 20px;
    width: 100%;
    min-width: fit-content;
    flex-shrink: 0;
}

.nav 
.header{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.site-content {
    flex: 1;
}

.hero-section {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    min-height: auto;
    min-width: 1120px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

a,
.hero-sub {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 18px;
}

.hero-section
img {
    height: 400px;
    width: auto;
    align-self: flex-end;
}

.hero-section
button {
    width: fit-content;
    height: fit-content;
    padding: 8px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #3882f6;
}

.action-section,
.random-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin: 20px;
    padding: 10px;
}

.random-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 400px;
    padding: 60px;
}

.random-box
.text {
    margin-top: 4px;
}

.random-box 
img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: solid blue 2px;
    border-radius: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: 10px;
    flex-wrap: wrap;
    text-align: center;
    flex-shrink: 0;
}

.quote-section {
    background-color: #e5e7eb; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    width: 800px;
    padding: 50px;
    margin: 100px;
}

.boxy {

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.attribution {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}

.action-section {
    display: flex;
    justify-content: center;
    height: 300px;
}

.blue-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 200px;
    padding: 50px;
    background-color: #3882f6;
    border-radius: 8px;
}



.call {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    
}

.subtext {
    color: #fff;
    font-weight: lighter;

}

.blue-box
button {
    background-color: #3882f6;
    color: #fff;
    border: solid #fff 2px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 30px;
    
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #1F2937;
    align-self: flex-end;
    align-items: center;
}